html {
  /*background: transparent url(../img/watt-logo.png) no-repeat center center;
  height: 100%;*/
}

/* FADES */
.animated {
  -webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;
-webkit-animation-duration:.75s;
-moz-animation-duration:.25s;
-ms-animation-duration:.25s;
-o-animation-duration:.25s;
animation-duration: 5s;
}

.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


.row.full {
  max-width:100%;
}

.relative {
  position: relative;
}

.hero {
  width: 100%;
}

body {
  opacity: 0;
}
.logo {
  position: absolute;
  bottom: 50px;
  right:5%;
  width:80px;
  height:81px;
  z-index:999;
  display:none;
  -webkit-filter: invert(1);
}

.top-bar .name h1 a {
	width:100%; }

.menu-desktop {
  position: fixed;
  /*top:20px;
  left:5%;*/
  width:auto;
  height:auto;
  padding:20px;
  z-index:999;
  background-color: transparent;
  opacity:0.8;
  display:none;
}

.menu-desktop h1 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: left;
  width: auto;
  margin: 0px;
  border: none;
  display: block;
  padding: 0;
}

.menu-desktop ul {
  margin:20px 0px 0px 0px;
  padding:20px 0px 0px 0px;
  background:url(../img/bg-menu-desktop.gif) top left no-repeat;
}

.menu-desktop ul li {
  font-family: 'GFS Didot', serif;
  font-size:20px;
  color:#000;
  list-style-type:none;
  letter-spacing:2px;
  line-height:1.2em;
}

.menu-desktop ul li a {
  color:#000;
}

.menu-desktop ul li a:hover {
  text-decoration:underline;
}

ol.orbit-bullets {
  display: table;
  text-align: center;
  margin-top:20px;
}

.orbit-bullets li.active {
  background: #000;
}
.orbit-bullets li {
  width: 10px;
  height: 10px;
  border: solid 1px #000;
  background:#fff;
}

article {
  text-align: center;
}
h1 {
  display: inline-block;
  padding: 0 20px;
  margin: 30px auto;
  text-align: center;
  font-family: 'GFS Didot', serif;
  font-size: 26px;
  color: #000;
  border-bottom: 3px solid #000;
  font-weight: 100;
}

p {
  text-align:justify;

}

p span {

	text-align:center;
	display:block;
	margin-top:10px;
}
#credits, #contact {
  display: block;
}

 p.centered{
  text-align: center;
}
.credits ul {
	margin:0px;
	padding:0px;
}

.credits ul li {
	margin:0px 0px 0px 25px;
	padding:0px;
	font-size:11px;
}

footer {
	background:#EEEEEE;
	border-top:1px solid #000;
	padding:20px 0px 40px 0px;
}

footer h1 {
  font-family: 'Lato', sans-serif;
  font-size:16px;
  color:#000;
  font-weight:400;
  letter-spacing:2px;
  text-align:left;
  width:auto;
  margin:0px;
  border:none;
}

footer ul {
	margin:20px 0px 0px 0px;
	padding:0px;
}

footer ul li {
	float:left;
	width:30px;
	height:25px;
	display:block;
	list-style-type:none;
	margin:0px 10px 0px 0px;
}

footer ul li a{
	width:30px;
	height:25px;
	display:block;
	text-indent:-99999px;
}

footer ul li a.instagram{
	background:url(../img/ico-instagram.gif) top left no-repeat;
}
footer ul li a.facebook{
	background:url(../img/ico-facebook.gif) top left no-repeat;
}
footer ul li a.twitter{
	background:url(../img/ico-twitter.gif) top left no-repeat;
}

.visible {
	display:block !important;
}

/* ==============================
       DESKTOP STYLES 752px UP 
   ============================== */
@media only screen and (min-width: 47em) {

.logo {
  width: 157px;
  height: 159px;
  top: 350px;
  left: 20px;
  -webkit-filter: invert(1);

}

.menu-desktop {
  top:40px;
  padding:0px;
  left:5%;
  background-color:transparent;
  opacity:1;
  position:fixed;
}

}